/* Universal styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
.center {
  text-align: center;
}
.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
}
#main-container {
  max-width: 1100px;
  margin: 0 auto; /* centers it */
  padding: 0 1rem; /* breathing room on sides */
}

/* Header */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 4rem;
  padding: 1.975rem;
  border-bottom: solid black 0.05rem;
  z-index: 10;
}
header #brand .image-container img {
  width: 11rem;
  height: auto;
}
header nav,
header #brand {
  width: 50%;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 1.25rem;
}
header #brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
header a {
  text-decoration: none;
  color: black;
}
header a:hover {
  cursor: pointer;
  opacity: 0.6;
}
header a:active {
  opacity: 0.3;
}

/* Main */
main {
  padding-top: 4rem;
}

/* About Me */
#about-me-section {
  padding: 2rem;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.75rem;
}
.about-me-text {
  width: 60%;
  text-align: center;
}
.about-me .image-container {
  width: 35%;
  max-width: 350px;
}
